<section class="panel">
    <div id="experiment">
        <div id="cube" class="animate">

            <div class="face one" attr-face="one">
                    <div class="front facetest">
                        <img src="http://lesondeschefs.fr/design/img/uploads/112.jpg" draggable="false" alt="" /> class = "blur">
                    </div>
                    <div class="back">
                        <span class="fond"> </span>
                    </div>
            </div>

            <div class="face two" attr-face="two">
                    <div class="front">
                        <img src="http://lesondeschefs.fr/design/img/uploads/112.jpg" draggable="false" alt="" /> class = "blur">
                    </div>
                    <div class="back">
                        <span class="fond"> </span>
                    </div>
            </div>

            <div class="face three" attr-face="three">
                    <div class="front">
                        <img src="http://lesondeschefs.fr/design/img/uploads/112.jpg" draggable="false" alt="" /> class = "blur">
                    </div>
                    <div class="back">
                        <span class="fond"> </span>
                    </div>
            </div>

            <div class="face four" attr-face="four">
                    <div class="front">
                        <img src="http://lesondeschefs.fr/design/img/uploads/112.jpg" draggable="false" alt="" /> class = "blur">
                    </div>
                    <div class="back">
                        <span class="fond"> </span>
                    </div>
            </div>

            <div class="face five" attr-face="five">
                    <div class="front">
                        <img src="http://lesondeschefs.fr/design/img/uploads/112.jpg" draggable="false" alt="" /> class = "blur">
                    </div>
                    <div class="back">
                        <span class="fond"> </span>
                    </div>
            </div>

            <div class="face six" attr-face="six">
                    <div class="front">
                        <img src="http://lesondeschefs.fr/design/img/uploads/112.jpg" draggable="false" alt="" /> class = "blur">
                    </div>
                    <div class="back">
                        <span class="fond"> </span>
                    </div>
        </div>
    </div>
    </div>
</section>