
<section class="panel">
    <div class="playlist_layout">
        <div id="playlist_image" style="background-color:red">la playlist t'entends</div>
    </div>

    <div class="playbar_layout">
        <div id="play_bar">
            music currently played
        </div>
    </div>
                    <div>
                        <div class="layout_buttons" id="save_button">s</div><div class="layout_buttons" id="backward_button">
                        b</div><div class="layout_buttons" id="play_button">p
                        </div><div class="layout_buttons" id="forward_button">f
                        </div><div class="layout_buttons" id="like_button">l
                        </div>
                    </div>
                        
                        <!--</div>-->
    <!--</div>-->

</section>
