<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Le Son des Chefs</title>

    <!-- lsdc references -->
    <link href="css/template.css" rel="stylesheet" />
    <link href="css/cube.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        Le Son Des Chefs
    </header>
    <div ng-controller="NavCtrl">
        <section ng-view class="view">        </section>

        <nav class="nav">
            <a href="#home" ng-click="menu ='home'" ng-class="{active : menu == 'home'}"><img src="/res/image/icon-account.png" /></a>
            <a href="#jukebox" ng-click="menu ='jukebox'" ng-class="{active : menu == 'jukebox'}"><img src="/res/image/icon-account.png" /></a>
            <a href="#playing" ng-click="menu ='playing'" ng-class="{active : menu == 'playing'}"><img src="/res/image/icon-account.png" /></a>
            <a href="#account" ng-click="menu ='account'" ng-class="{active : menu == 'account'}"><img src="/res/image/icon-account.png" /></a>
        </nav>

    </div>
    <script src="js/jquery.js"></script>

    <script type="text/javascript">

    $(document).bind('mobileinit', function () {
        $.extend($.mobile, {
            hashListeningEnabled: false,
            pushStateEnabled: false,
            ajaxEnabled: false,
            linkBindingEnabled: false
        });
    });
    </script>
    <script src="js/jquerymobile.js"></script>

    <script src="js/angular.js"></script>
    <script src="js/angular_route.js"></script>
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="js/swipe.js"></script>

    <script src="js/init_cube.js"></script>
    <script src="js/cube.js"></script>
    <script src="js/app.js"></script>
    <script src="js/NavCtrl.js"></script>


</body>
</html>